<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<div style="padding: 10px;">
  <mat-grid-list cols="4" rowHeight="100px" >
    <mat-grid-tile style=" border-radius: 25px;"
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">

      <div *ngIf="tile.tile_type == 'text'" style="  font-size: 150%;  padding: 20px; font-family: 'Roboto'; font-weight: 500;line-height: 36px;">
        {{tile.text}}
      </div>
      <div *ngIf="tile.tile_type == 'image'" align="center" >
        <img src="{{tile.url}}" style=' width: 80%; height: 80%; object-fit: contain;' />
      </div>

    </mat-grid-tile>
  </mat-grid-list>
</div>


<div style="text-align: center; align: center; margin-right: 50px;">

  <button mat-raised-button color="accent" (click)="addToWatchedList(movieId)" class="actionbuttons">Watch</button>
  <button mat-raised-button color="accent" routerLink="/grid" class="actionbuttons">Exit / Back to grid view</button>

</div>

