
<div style="padding: 10px;">
  <mat-grid-list cols="4" rowHeight="100px" >
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">

      <div *ngIf="tile.tile_type == 'text'">
        {{tile.text}}
      </div>
      <div *ngIf="tile.tile_type == 'image'" align="center">
        <img src="{{tile.url}}" width="70%" />
      </div>

    </mat-grid-tile>
  </mat-grid-list>
</div>


<div style=" margin-right: 10px; margin-left: 25%;">
  <button mat-raised-button color="accent">Watched</button>
  <button mat-raised-button color="accent">Watch</button>
  <button mat-raised-button color="accent">Exit / Back to grid view</button>
</div>

