button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
.alligngood {
  display: inline-grid;
  /* display: grid; */
  margin: 15px;
}
.container .cardWrap div {
  height: 300px;
  border: 2px solid gray;
}
.centerallign {
  margin-right: 1200px;
}



.wrapper {
 border-radius: 25px;
  background: #673AB7;
  padding:25px;
  margin-left: 55px;
   flex-wrap: wrap;
}



.slider1{
width: 500px;
align:left;
}
.slider2{
width: 500px;
align:right;
}
.genre{
width: 30%;
}

.runtime{
flex-wrap: wrap;
 align-content: center;
}
mat-button-toggle{
margin: 5px;
border-radius: 10px;
margin-color: #673AB7;
border-color: #673AB7;
}
.text{
 color: white;
 font-weight: 500;
 align: center;
}
.button{
align: center;

}
