<div style="align-content: center; width: 95%;">
<div class="wrapper">
  <form flex [formGroup]="filterForm" (ngSubmit)="submit()" >
    <h1 class="text">Filter Movies</h1>
    <h2 class="text">Genre:</h2>
    <div style="width: 75%;  text-align: center; align: center; padding-left: 150px">


      <mat-button-toggle *ngFor="let genre_it of genre_choices" value="genre_it"
                         [ngClass]="genre_it == genre ? 'selected': 'unselected'"
                         (click)="selectGenre(genre_it)" class="hackedbutton">{{genre_it}}
                          </mat-button-toggle>

<!--
      <mat-button-toggle-group formControlName="genre" >
        <mat-button-toggle value="Action">Action</mat-button-toggle>
        <mat-button-toggle value="Adventure">Adventure</mat-button-toggle>
        <mat-button-toggle value="Animation"> Animation</mat-button-toggle>
        <mat-button-toggle value="Biography"> Biography</mat-button-toggle>
        <mat-button-toggle value="Comedy"> Comedy</mat-button-toggle>
        <mat-button-toggle value="Crime"> Crime</mat-button-toggle>
        <mat-button-toggle value="Documentary"> Documentary</mat-button-toggle>
        <mat-button-toggle value="Drama"> Drama</mat-button-toggle>
        <mat-button-toggle value="Fantasy"> Fantasy</mat-button-toggle>
        <mat-button-toggle value="History"> History</mat-button-toggle>
        <mat-button-toggle value="Horror"> Horror</mat-button-toggle>
        <mat-button-toggle value="Mystery"> Mystery</mat-button-toggle>
        <mat-button-toggle value="Romance"> Romance</mat-button-toggle>
        <mat-button-toggle value="Sci-Fi"> Sci-Fi</mat-button-toggle>
        <mat-button-toggle value="Short"> Short</mat-button-toggle>
        <mat-button-toggle value="Thriller"> Thriller</mat-button-toggle>
        <mat-button-toggle value="War"> War</mat-button-toggle>
        <mat-button-toggle value="Western"> Western</mat-button-toggle>
      </mat-button-toggle-group>-->
    </div>
    <br />
    <br />
    <div style="width: 75%;  text-align: center; align: center; padding-left: 150px">
    <h2 class="text"> Year:</h2>
    <mat-slider
     class="slider1"
      thumbLabel
      min="1900"
      max="2020"
      step="10"
      value="0"
      formControlName="year"></mat-slider> </div>


    <br />
    <h2 class="text">Rating:</h2>
    <div style="width: 75%;  text-align: center; align: center; padding-left: 150px">
    <mat-slider
      class="slider2"
      thumbLabel
      min="0"
      max="9.5"
      step="0.5"
      value="0"
      formControlName="rating"
    ></mat-slider> </div>



<!--    <div>-->
      <h2 class="text">Approximate Runtime:</h2>

    <div style="width: 75%;  text-align: center; align: center; padding-left: 150px">

    <mat-button-toggle *ngFor="let runtime_it of runtime_choices" value="runtime_it"
                       [ngClass]="runtime_it == runtime ? 'selected': 'unselected'"
                       (click)="selectRuntime(runtime_it)" class="hackedbutton">{{runtime_it}}
    </mat-button-toggle>
    </div>


    <!--      <mat-button-toggle-group formControlName="runtime" class="runtime">-->
<!--        <mat-button-toggle value="1"> < 1 hour </mat-button-toggle>-->
<!--        <br />-->
<!--        <mat-button-toggle value="2">1 hour </mat-button-toggle>-->
<!--        <br />-->
<!--        <mat-button-toggle value="3">1.5 hours</mat-button-toggle>-->
<!--        <br />-->
<!--        <mat-button-toggle value="4">2 + hours</mat-button-toggle>-->
<!--      </mat-button-toggle-group>-->
<!--    </div>-->
    <div style="colour:grey; width:60px; height:60px"></div>
    <div style="width: 75%;  text-align: center; align: center; padding-left: 150px">
    <button mat-raised-button color="accent" class="button">submit</button>
    </div>
<!--    <a mat-raised-button color="warn" routerLink="/grid">submit</a>-->

    <!-- <button
      mat-raised-button
      color="primary"
      style="padding-left:50px;padding-right:50px;"
    >
      Filter
    </button>-->
  </form>
</div>
</div>
